<section class="about" id="about">
  <div class="container">
    <svg class="icon icon-divider">
      <use href="/images/sprite.svg#icon-divider"></use>
    </svg>
    <div class="about-title-container">
      <h2 class="about-title">
        Meet Maria Kovalenko: Your Partner in Capturing Unforgettable Wedding
        Moments
      </h2>
      <p class="about-text">
        With years of experience in wedding photography, Maria specializes in
        capturing genuine emotions and beautiful moments. Her unique approach
        blends artistry with a personal touch, ensuring that each couple's story
        is told through stunning imagery.
      </p>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /images/about/about-desktop-1x.webp 1x,
          /images/about/about-desktop-2x.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /images/about/about-tablet-1x.webp 1x,
          /images/about/about-tablet-2x.webp 2x
        "
      />
      <source
        srcset="
          /images/about/about-phone-1x.webp 1x,
          /images/about/about-phone-2x.webp 2x
        "
      />
      <img
        class="about-img"
        src="/images/about/about-phone-1x.webp"
        alt="Maria Kovalenko"
      />
    </picture>
  </div>
</section>
