<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/about.css" />
  </head>
  <body>
    <section class="about container">
      <div class="about-container">
        <svg class="divider_icon" aria-hidden="true">
          <use href="img/sprite.svg/icon-divider"></use>
        </svg>
        <h2 class="about-title">
          Meet Maria Kovalenko: Your Partner in Capturing Unforgettable Wedding
          Moments
        </h2>
        <p class="about-text">
          With years of experience in wedding photography, Maria specializes in
          capturing genuine emotions and beautiful moments. Her unique approach
          blends artistry with a personal touch, ensuring that each couple's
          story is told through stunning imagery.
        </p>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../images/about-desktop-1x.webp 1x,
              ../images/about-desktop-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/about-tablet-1x.webp 1x,
              ../images/about-tablet-2x.webp 2x
            "
          />
          <source
            srcset="
              ../images/about-phone-1x.webp 1x,
              ../images/about-phone-2x.webp 2x
            "
          />
          <img
            class="about-img"
            src="../images/about-phone-1x.webp"
            alt="Maria Kovalenko"
          />
        </picture>
      </div>
    </section>
  </body>
</html>
