<section class="benefits">
  <div class="container">
    <div class="benefits__header">
      <div class="benefits__decor" aria-hidden="true">
        <svg
          class="benefits__decor-icon"
          viewBox="0 0 457 32"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use href="./img/sprite.svg#icon-divider"></use>
        </svg>
      </div>

      <h2 class="benefits__title">
        Capture Every Moment with Our Tailored Wedding Photography Packages
      </h2>
    </div>

    <ul class="benefits__list">
      <li class="benefits__item">
        <article class="benefit-card">
          <div class="benefit-card__icon">
            <img
              src="./img/benefits/glasses.svg"
              alt=""
            />
          </div>

          <h3 class="benefit-card__title">
            Your Perfect Story: A Package Tailored for You.
          </h3>

          <p class="benefit-card__text">
            Explore our collection of wedding packages, each designed to
            perfectly capture the uniqueness of your special day.
          </p>
        </article>
      </li>

      <li class="benefits__item">
        <article class="benefit-card">
          <div class="benefit-card__icon">
            <img
              src="./img/benefits/camera.svg"
              alt=""
            />
          </div>

          <h3 class="benefit-card__title">
            From Dawn to Stars: Your Full Day in Frame.
          </h3>

          <p class="benefit-card__text">
            Capture every emotion, from the morning preparations to the grand
            finale of your wedding celebration.
          </p>
        </article>
      </li>

      <li class="benefits__item">
        <article class="benefit-card">
          <div class="benefit-card__icon">
            <img
              src="./img/benefits/church.svg"
              alt=""
            />
          </div>

          <h3 class="benefit-card__title">
            Precious Moments: Capturing Your Key Events.
          </h3>

          <p class="benefit-card__text">
            Perfect for preserving the most important moments of your intimate
            ceremony or smaller celebration.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>