<section class="contacts-section" id="contacts">
  <div class="container">
    <div class="contacts-content">
      <svg class="icon icon-divider">
        <use href="/images/sprite.svg#icon-divider"></use>
      </svg>
      <div class="title-container">
        <h2 class="section-title">Let's Tell Your Story</h2>
        <p class="section-description">
          I can't wait to hear more about your wedding! Tell me about your
          plans, and I'll be in touch to discuss how we can create magic
          together.
        </p>
      </div>
      <div class="contact-container">
        <ul class="contact-list">
          <li class="contact-item">
            <svg class="icon-contacts icon-mail" width="24" height="24">
              <use href="/images/sprite.svg#icon-mail"></use>
            </svg>
            <a href="mailto:info@mariakovalenko.com" class="contact-link"
              >info@mariakovalenko.com</a
            >
          </li>
          <li class="contact-item">
            <svg class="icon-contacts icon-phone" width="24" height="24">
              <use href="/images/sprite.svg#icon-phone"></use>
            </svg>
            <a href="tel:+405551234567" class="contact-link"
              >+40 (555) 123-4567</a
            >
          </li>
          <li class="contact-item">
            <svg class="icon-contacts icon-marking" width="24" height="24">
              <use href="/images/sprite.svg#icon-marking"></use>
            </svg>
            <a
              href="https://maps.app.goo.gl/PdNouuhEWRpiAxCK6"
              target="_blank"
              rel="noopener noreferrer"
              class="contact-link"
            >
              Raschdorffstraße 2-26, 13409 Berlin, Germany
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-container">
      <form>
        <label>
          <p class="label-title">Name*</p>
          <div class="input-container">
            <input
              autocomplete="off"
              type="text"
              name="name"
              placeholder="Enter your name"
              required
              class="contact-input"
            />
          </div>
        </label>
        <label>
          <p class="label-title">Phone*</p>
          <div class="input-container">
            <input
              autocomplete="off"
              type="tel"
              name="tel"
              placeholder="Enter your phone number"
              required
              class="contact-input"
            />
          </div>
        </label>
        <label>
          <p class="label-title">Message</p>
          <div class="textarea-container">
            <textarea
              name="message"
              id="message"
              placeholder="Tell me a little about you and your special day. Don't forget to include your wedding date, venue, and what you're most excited about..."
              class="contact-textarea"
            ></textarea>
          </div>
        </label>
        <button type="submit" class="submit-button">Let's Talk</button>
      </form>
    </div>
  </div>
</section>
