<section class="contacts-section" id="contacts">
  <div class="container">
    <svg class="icon icon-divider">
      <use href="../img/symbol-defs.svg#icon-divider"></use>
    </svg>
    <h2 class="section-title">Let's Tell Your Story</h2>
    <p class="section-description">
      I can't wait to hear more about your wedding! Tell me about your plans,
      and I'll be in touch to discuss how we can create magic together.
    </p>
    <div class="">
      <ul class="contact-list">
        <svg class="icon icon-marking" width="24" height="24">
          <use href="../img/symbol-defs.svg#icon-mail"></use>
        </svg>
        <li class="contact-item">
          <a href="mailto:info@mariakovalenko.com" class="contact-link"
            >info@mariakovalenko.com</a
          >
        </li>
        <li class="contact-item">
          <svg class="icon icon-marking" width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-phone"></use>
          </svg>
          <a href="tel:+405551234567" class="contact-link"
            >+40 (555) 123-4567</a
          >
        </li>
        <li class="contact-item">
          <svg class="icon icon-marking" width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-marking"></use>
          </svg>
          <a
            href="https://maps.app.goo.gl/PdNouuhEWRpiAxCK6"
            target="_blank"
            rel="noopener noreferrer"
            class="contact-link"
          >
            Raschdorffstraße 2-26, 13409 Berlin, Germany
          </a>
        </li>
      </ul>
    </div>
    <form>
      <label>
        <p>Name*</p>
        <input
          autocomplete="off"
          type="text"
          name="name"
          placeholder="Enter your name"
        />
      </label>
      <label>
        <p>Phone*</p>
        <input
          autocomplete="off"
          type="tel"
          name="tel"
          placeholder="Enter your phone number"
        />
      </label>
      <label>
        <p>Message</p>
        <input
          autocomplete="off"
          type="text"
          name="message"
          placeholder="Tell me a little about you and your special day. Don't forget to include your wedding date, venue, and what you're most excited about..."
        />
      </label>
      <button type="submit">Let's Talk</button>
    </form>
  </div>
</section>
