<section class="faq">
  <div class="container">
    <svg class="icon-divider" aria-hidden="true">
      <use href="./img/sprite.svg#icon-divider"></use>
    </svg>
    <h2 class="faq-title">Frequently Asked Questions</h2>
    <p class="faq-description">
      Here I've gathered answers to the most popular questions to help you plan
      your perfect day. If you can't find the information you're looking for,
      please get in touch!
    </p>
    <ul class="faq-list">
      <li class="faq-item">
        <button type="button" class="faq-question">
          How do we book our date and how far in advance should we do it?
          <span class="faq-icon" aria-hidden="true">+</span>
        </button>
      </li>

      <li class="faq-item">
        <button type="button" class="faq-question">
          We don't know how to pose and feel awkward in front of the camera. Do
          you help with that?
          <span class="faq-icon" aria-hidden="true">+</span>
        </button>
      </li>

      <li class="faq-item">
        <button type="button" class="faq-question">
          When will we receive our photos and how many will there be?
          <span class="faq-icon" aria-hidden="true">+</span>
        </button>
      </li>

      <li class="faq-item">
        <button type="button" class="faq-question">
          What is typically included in your wedding packages?
          <span class="faq-icon" aria-hidden="true">+</span>
        </button>
      </li>

      <li class="faq-item">
        <button type="button" class="faq-question">
          Do you travel for weddings outside of Berlin?
          <span class="faq-icon" aria-hidden="true">+</span>
        </button>
      </li>
    </ul>
  </div>
</section>
