<section class="feedbacks">
  <div class="container">
<div class="feedbacks-decor" aria-hidden="true">
  <svg class="feedbacks-decor-icon">
    <use href="./img/sprite.svg#icon-divider"></use>
  </svg>
</div>

    <h2 class="feedbacks-title">
      Words from Our Wonderful Couples
    </h2>

    <p class="feedbacks-description">
      Read what the couples who entrusted us with their most precious
      memories have to say.
    </p>

    <div class="feedbacks-slider">
      <ul class="feedbacks-list"></ul>
    </div>

    <div class="feedbacks-bottom">
      <div class="feedbacks-dots" aria-label="Feedback navigation"></div>

      <div class="feedbacks-buttons">
        <button
          class="feedbacks-button feedbacks-button-prev"
          type="button"
          aria-label="Previous feedback"
        >
          <svg class="feedbacks-button-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>

        <button
          class="feedbacks-button feedbacks-button-next"
          type="button"
          aria-label="Next feedback"
        >
          <svg class="feedbacks-button-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>