<section class="hero container">
  <div class="hero-container">
    <div class="hero-content">
      <div class="hero-text-block">
        <h1 class="hero-title">
          Capture Your Love Story with Timeless Photography
        </h1>
        <p class="hero-text">
          At Maria Kovalenko Photography, we specialize in capturing the genuine
          emotions of your special day. Let us turn your unforgettable moments
          into stunning memories that last a life time.
        </p>
      </div>
      <a class="hero-btn" href="#contacts">Book a session</a>
    </div>
  </div>
</section>
