<div class="mob-menu-overlay" id="mob-menu">
  <div class="mob-menu container">
    <div class="mob-menu-header">
      <a
        class="mob-menu-logo"
        href="index.html"
        aria-label="Wedding Photography Logo"
      >
        <svg class="mob-menu-logo-icon" width="70" height="55">
          <use href="/img/sprite.svg#icon-company-logo"></use>
        </svg>
      </a>

      <button class="mob-menu-close-btn" aria-label="Close menu">
        <svg class="mob-menu-close-btn-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="mob-menu-body">
      <nav class="mob-menu-nav">
        <ul class="mob-menu-nav-list">
          <li class="mob-menu-nav-item">
            <a class="mob-menu-nav-link" href="#about">About Me</a>
          </li>
          <li class="mob-menu-nav-item">
            <a class="mob-menu-nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="mob-menu-nav-item">
            <a class="mob-menu-nav-link" href="#portfolio">Portfolio</a>
          </li>
          <li class="mob-menu-nav-item">
            <a class="mob-menu-nav-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>

      <a href="#contacts" class="mob-menu-book-btn">Book a Session</a>
    </div>
  </div>
</div>
