.about {
  padding: 64px 0;
}

.about-title-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
  text-align: center;
}

.about-title {
  font-family: var(--font-title);
  font-size: 28px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
}

.about-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .about-title-container {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    padding: 92px 0;
  }

  .about-title-container {
    width: 100%;
    max-width: 779px;
    margin: 0 auto 40px;
  }
}
